<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
  <title><%= @page[:title] %></title>
  <%= tag :link, rel: 'stylesheet', href: asset_path('application.css') %>
</head>
