html {
  font-size: 62.5%;
}

body {
  margin: 20px 20px 100px 20px;
  font-family: 'Gill Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 0.03em;
  @include font-size(1.8);
  @include line-height(2.4);
  
  background-color: $background-tan; // mix($pale-green, white, 15%);
} // body

a {
  color: transparentize($mid-red, 0.1);
  text-decoration: none;
  border-bottom: 1px solid transparentize($mid-red, 0.5);
  
  &:hover {
    color: $mid-red;
    border-color: transparentize($mid-red, 0.1);
  }
}

h1 {
  font-family: 'Didot';
  font-weight: normal;
  text-align: center;
  @include font-size(6);
  @include line-height(6);
  margin: 4rem 0;
} // h1

h2, h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: mix($deep-red, black, 50%);
}

h2 {
  text-align: center;
}

img {
  @include box-sizing(border-box);
  background: white;
  display: block;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid mix($deep-red, $background-tan, 50%);
  max-width: 100%;
}

div#content > ul {
  @include font-size(1.6);
  @include line-height(2.2);
} // div#content > ul

nav#primary {
  border-top: 1px solid transparentize($deep-red, 0.9);
  border-bottom: 1px solid transparentize($deep-red, 0.9);
  margin: 40px 0;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    @include font-size(1.8);
    @include line-height(4);
    
    li {
      display: inline-block;
      
      a {
        color: lighten($deep-red, 10%);
        border: none;
      }
      
      & + li:before {
        content: "•";
        margin-right: 5px;
      } // nav#primary ul li + li:before
    } // nav#primary ul li
  } // nav#primary ul
} // nav#primary

form#search {
  display: -webkit-flex;
  display: flex;
  @include flex-wrap(wrap);
  
  input[type=search],
  input[type=submit] {
    @include box-sizing(border-box);
    @include appearance-none;
    @include font-size(2);
    @include line-height(4);
    @include border-radius(2px);
    padding: 0 5px;
    height: 40px;
    vertical-align: bottom;
  
    &:focus {
      outline: none;
      @include box-shadow(0 0 8px transparentize($mid-red, 0.5));
    } // form#search input[type={search|submit}]:focus
  } // form#search input[type={search|submit}]

  input[type=search] {
    border: 1px solid transparentize($mid-red, 0.3);
    min-width: 180px;
    @include flex(4);
  
    @include placeholder {
      color: transparentize($mid-red, 0.7);
    } // form#search input[type=search]::placeholder
  
    &:focus {
      border-color: $deep-red;
    } // form#search input[type=search]:focus
  } // form#search input[type=search]

  input[type=submit] {
    @include flex(1);
    min-width: 80px;
    margin-left: 10px;
    border: none;
    color: white;
    background-color: $mid-red;
  
    &:hover {
      background-color: mix($mid-red, $deep-red, 50%);
    } // form#search input[type=submit]:hover
  
    &:focus {
      background-color: $deep-red;
    } // form#search input[type=submit]:focus
  } // form#search input[type=submit]
} // form#search

nav#breadcrumbs {
  clear: both;
  overflow: auto;
  
  ol {
    padding: 0;
    margin: 20px 0 80px;
    list-style: none;
    
    li {
      display: block;
      float: left;
      
      & + li:before {
        content: "→";
        margin: 0 5px;
      }
    } // nav#breadcrumbs ol li
  } // nav#breadcrumbs ol
} // nav#breadcrumbs

// outline view for content hierarchy
> ol {
  list-style: none;
  margin: 0;
  padding: 0;
  
  > li {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    
    & + li {
      margin-top: 10px;
    } // ol > li + li
    
    & > ul {
      margin-top: 20px;
      list-style: disc;
      padding-left: 20px;
      
      > li {
        text-align: left;
      } // ol > li > ul > li
    } // ol > li > ul

    &#product-photo {
      height: 15em;
    }

    &#product-characteristics,
    &#sku-characteristics {
      height: 10em;
    }
    
    &#product-description {
      height: 15em;
    }
    
    &#customer-reviews {
      height: 25em;
    }
    
    &#related-products {
      height: 10em;
    }
  } // ol > li
} // ol