<ol>
  <li id="site-name">Site name / logo</li>
  <li id="main-navigation">Main navigation</li>
  <li id="search">Search &amp; Filters</li>
  <li id="breadcrumbs">Breadcrumbs</li>
  <li id="product-name">Name of the wine</li>
  <li class="add-to-cart">Add to cart</li>
  <li id="product-photo">Photo of the product</li>
  <li id="product-characteristics">
    Product characteristics
    <ul>
      <li>country of origin</li>
      <li>region</li>
      <li>grape</li>
      <li>year</li>
    </ul>
  </li>
  <li id="sku-characteristics">
    SKU characteristics
    <ul>
      <li>Price</li>
      <li>Stock status</li>
    </ul>
  </li>
  <li class="add-to-cart">Add to cart</li>
  <li id="product-description">Description of the wine (a ‘review’ from the owner)</li>
  <li id="customer-reviews">Customers reviews</li>
  <li id="related-products">Related products (similar products based on this wine's characteristics)</li>
</ol>