<!DOCTYPE html>

<html lang="en">
<%= partial :head %>

<% tag :body, {:class => @page[:class], :'data-environment' => 'development'}.delete_if {|k,v| v.nil? } do %>
  <div id="content">
    <%= yield %>
  </div>
  <%= script asset_path('vendor.js') %>
  <%= script asset_path('application.js') %>
<% end %>
</html>
