<h1>The Wine Store</h1>

<nav id="primary">
  <ul>
    <li><a href="/news">News</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/specials">Specials</a></li>
  </ul>
</nav>

<form id="search">
  <input type="search" placeholder="Search WineShop for products"> <input type="submit" value="Search">
</form>

<nav id="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/reds">Red Wines</a></li>
    <li><a href="/reds/new-world">New World</a></li>
    <li><a href="/reds/new-world/california">California</a></li>
  </ol>
</nav>

<h2>Groth Cabernet Sauvignon Oakville 2009</h2>

<p><img src="/images/bottle.png" alt="Photo of a bottle of Groth Cabernet Sauvignon Oakville 2009"></p>

<h3>Product characteristics</h3>

<ul>
  <li>country of origin: United States</li>
  <li>region: California, Napa</li>
  <li>grape: Cabernet Sauvignon, Merlot</li>
  <li>year: 2009</li>
  <li>Size: 750ml</li>
  <li>ABV: 14,5%</li>
  <li>Color: red</li>
  <li>Closure type: cork</li>
</ul>

<h3>SKU characteristics</h3>

<ul>
  <li>Price: USD 42,99</li>
  <li>Stock status: avaliable</li>
</ul>

<p>{Add to cart}</p>

<h3>Description</h3>

<p>"This is a lovely Cabernet to drink now and over the next few years. It shows its Oakville pedigree with smooth tannins and dry, complex flavors of blackberry, black currant and cherry, with a fine earthiness".</p>

<p>Taste: "currant, blackberry, cherry, bell pepper, olive, asparagus, spice, ginger, oak, vanilla, black cherry, plum, smoke, toast, and tar"</p>

<h3>Customer reviews</h3>

<ul>
  <li>John X: (5 stars) "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."</li>
  <li>Anna M: (4 Stars) "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."</li>
  <li>Paul T: (5 Stars) "Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore"</li>
  <li>Mikey Z: (3 Stars) "Te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim."</li>
</ul>

<h3>Related products</h3>

<ul>
  <li>Stark Conde Cabernet 2011
    -- 750 ML
    -- USD 19,98
  </li>
  <li>Luna Beberide Art - 2010
      -- 750 ML
      -- USD 29,98
  </li>
  <li>Alta Maria Pinot Noir Santa - 2010
        -- 500 ML
        -- USD 19,99
  </li>
</ul>
